doctype html
html
  head
    title Chat
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='assets/css/stylesOfErrPage.css')
  body
    .link-to-main-page
      a(link=`${url('root')}`) Main page
    h2 Something went wrong :(
