doctype html
html
  head
    title Chat
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='assets/styles.css')
    script(defer src='assets/authentication.js')
  body
    if (currentUser.isGuest())
      form#auth-form(method='post')
        h2 Chat
        p Please type your nickname and password to visit chat.
          br
          span Note: both nickname and password must contain at least 6 characters(letters and digits) and no more than 12. Nickname starts only with a letter.
        .center
          label(for='nickname')
            span Nickname:
          input#nickname(type='text')
          label(for='password')
            span Password:
          input#password(type='password')
          button#sign-in Sign in
          button#sign-up Sign up
    else
      #content
      #controls
        textarea#message-field(placeholder='Type message')
        button#send-message Send
      script(src='/socket.io/socket.io.js')
      script(src='assets/chat-client.js')
