body {
	background-color: #A8C5E7;
	font-size: 16px;
	color: white;
}
.container {
	margin:0 auto;
	width:400px;
	border-radius:15px;
	background-color:#3069AD;
}
#content {
	padding:10px;
	width:400px;
	height: 400px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	box-sizing: border-box;
	background-color:rgba(27,149,164,0.8);
}
#content .message {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	min-width:100px;
	max-width:90%;
	min-height:20px;
	box-sizing:border-box;
	border: 2px solid rgba(228,218,218,1.00);
	border-radius:5px;
	word-wrap: break-word;
	background-color:#FFFFFF;
	color: black;
}
#controls {
	margin-top:5px;
	padding:10px;
	width:400px;
	box-sizing: border-box;
}
#constrols input {
	display: inline-block;
}
#controls label {
	font-size: 18px;
}
#nickname-field {
	margin:0 auto;
	width:80%;
}
#controls #nickname {
	width:150px;
	height:20px;
	border-radius:5px;
}
#controls #field {
	display:block;
	margin: 0 auto;
	margin-top: 10px;
	width:80%;
	height:60px;
	border-radius:5px;
}
#controls #send {
	display: block;
	margin:10px auto;
	width:30%;
	height:30px;
	border-radius: 5px;
	cursor:pointer;
	font-size: 14px;
	font-weight:bold;
}
